html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
.labelVisitUser{
    background-color: #ffff71;
    padding: 0px;
}

.advBtn>ul{
    padding: 0;
    /* width: 300px; */
}

.advBtn>ul>li {
    padding: 0;
    border: 1px solid black;
    
    /* text-shadow: 2px 2px 2px #ffff71; */
}

.addAdv{
    text-shadow: 1px 1px 1px rgb(255, 255, 113);
}

.advLinks>a, .addAdv>a{
    font-size: 1.5rem;
}

#favPlusImg{
    max-width: 30px;
}
/* .advBtn>button::after{
    display: none;
}  */
.advBtn>button{
    background-color: #ffff71;
    border: 1px solid black;
}
input, label, textarea, option{
    font-size: 1em!important;
    border-radius: 0!important;
}
select{
    border-radius: 0!important;
}
input{
    margin-bottom: 0.75em;
}
#user_description:focus, .form-select:focus, input[type=text]:focus, input[type=password]:focus{
    box-shadow: 1px 1px 1px 1px #F88F6F;
    border: 1px solid #F88F6F;
}
.cover {
    max-width: 150px;
    width: 100%;
}
.visitCover{
    max-width: 250px;
    width: 100%;
    margin-bottom: 1em;
}
.userAdvBtn {
    font-size: 1.25em;
    text-align: center;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
h1{
    font-size: 100px;
    user-select: none;
}
textarea, input{
    padding-top: 0;
    width: 100%;
}
textarea{
    margin-top: 20px;
    height: 100px;
}
label{
    text-decoration: underline!important;
}

#row-profile{
    margin: 10em auto;
    max-width: 1300px;
    width: 85%;
    border: 1px solid black;
    box-shadow: 
    5px -5px 0 -1px #ffff71,
    5px -5px,
    10px -10px 0 -1px #F88F6F,
    10px -10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#visitProfile{
    border: 1px solid black;
    max-width: 800px;
    box-shadow: 
    5px -5px 0 -1px #F88F6F,
    5px -5px,
    10px -10px 0 -1px #ffff71,
    10px -10px;
    margin-top: 10rem;
    width: 85%;
}
#completeUrProfile{ /* message d'erreurs*/
    color: #F88F6F;
    font-size: 1rem;
    height: 20px;
}
#favEye{
    height: 20px;
}
#messageCount{ /* compteur textArea*/
    height: 1px;
}
#user_save{
    position: relative;
    padding: 5px 12px !important;
    color: black;
    background-color: #F88F6F !important;
    border: 1px solid black !important;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s ease;
    font-size: x-large;
    letter-spacing: .1rem;
    outline: none !important;
    cursor: pointer;
    z-index: 1;
}
.addAdv{
    background-color: #F88F6F;
    width: 100%;
}
#user_save:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #ffff71;
    transition: all 0.3s ease; 
}
#user_save:hover:after, .addAdv::after {
    top: auto;
    bottom: 0;
    height: 100%; 
}
/* FOOTER  */
#footer{
    position: relative;
    bottom: 0;
    background-color: black;
}
.footerLink{
    color: #ffff71;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .advBtn>ul{
        padding: 0;
        left: -2rem !important;
        width: 250px;
    }
    #row-profile{
        border: 2px solid black;
        width: 90%;
        margin-left: 5%;
        box-shadow: 
        10px -10px 0 -3px #ffff71,
        10px -10px,
        20px -20px 0 -3px #F88F6F,
        20px -20px;
    }
    #visitProfile{
        border: 2px solid black;
        box-shadow: 
        10px -10px 0 -3px #F88F6F,
        10px -10px,
        20px -20px 0 -3px #ffff71,
        20px -20px;
        width: 60%;
        
    }
    #user_save{
        padding: 7px 18px;
        border: 2px solid black;
        font-size: xx-large;
    } 

}

@media screen and (min-width:1024px) {
    .userAdvBtn {
        font-size: 1.5em;
        text-align: center;
    }
    input,label,textarea{
        font-size: 1em!important;
    }
    input{
        margin-bottom: 0.25em;
    }
    #btnSave>button{
        font-size: 1.75em;
    }
    #user_save{
        padding: 20px 48px !important;
        border: 3px solid black !important;
        font-size: xx-large;
    }
    .addAdv>a{
        font-size: xx-large;
    }
}

@media screen and (min-width:1200px) {
    textarea{
        height: 130px;
    }
    label{
        font-size: 0.85em !important;
    }
    label[for=user_description]{
        margin-bottom: 0;
    }
    option{
        font-size: 1.5em!important;
    }
    body{
        background-color: #f88f6f91;
    }
    #visitProfile, form{
        background-color: white;
    }
}
@media screen and (min-width:1700px) {
    #favArrow{
        display: block!important;
        width: 80px;
        position: absolute;
        left: -65px;
        top: 13px;
        z-index: 999;
    }
    #row-profile{
        margin: 7em 7em 0 auto;
    }
    .advBtn>ul{
        margin-top: 6em;
        left: auto !important;
    }
    .advBtn{
        position: absolute;
        top: 30vh;
        left: 8em;
        font-size: large;
    }
    /* .dropdown:hover .dropdown-menu{
        display: block;
    } */
    /* .dropdown-menu{
        margin-top: 5.5em;
    } */
    .userAdvBtn {
        position: relative;
        padding: 10px 25px;
        background-color: #ffff71 !important;
        border: 2px solid black !important;
        border-radius: 0;
        display: inline-block;
        transition: all 0.3s ease;
        font-size: 2em;
        text-align: center;
        letter-spacing: .1rem;
        outline: none !important;
        cursor: pointer;
        z-index: 1;
        text-align: center;
    }

    .userAdvBtn:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background: #F88F6F;
        transition: all 0.3s ease; 
    }

    .userAdvBtn:hover:after {
        top: auto;
        bottom: 0;
        height: 100%; 
    }
    #completeUrProfile{ /* message d'erreurs*/
        font-size: 1.5rem;
        text-decoration: underline;
        height: 1px;
    }
    #favEye{
        height: 42px;
    }
}

